<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>page potin</h1>
    <h2>Voici la page du potin n°<%= id %></h2>
    <p>
      Son auteur :<%= gossip.author %><br/>
      Le contenu du potin :<%= gossip.content %>
    </p>
    <p>
      <a href="/">Lien pour revenir à la page des potins</a>
    </body>
    </p>
</html>
